// 通用scss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

body {
  font: 14px/1.5 "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #333;
}
